.page {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #2A2C2F;
    font-family: 'Inter', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
}