.lead__image {
  width: 100%;
  display: block;
  margin: 64px auto 0;
} 

@media screen and (max-width: 1279px) {
  .lead__image {
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin: 40px auto 0;
  }
}  