.place__link {
    display: block;
    margin-top: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  .place__link:hover {
    opacity: .8;
  }